<!DOCTYPE html>

<html>
    <head>
        <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
    </head>

    <body>
        <div>
            {% block body_block %}{% endblock %}
        </div>

        <hr />

        <div>
            <ul>
            {% if user.is_authenticated %}
               
                <li><a href="{% url 'auth_logout'%}?next=/r2/">Logout</a></li>
                <li><a href="/r2/add_category/">Add a New Category</a></li>
            {% else %}
                <a href="{% url 'registration_register' %}">Register</a>
                <li><a href="{% url 'auth_login'%}">Login</a></li>
            {% endif %}

                <li><a href="/r2/about">About</a></li>
            </ul>
        </div>
    </body>
</html>