<!DOCTYPE html>
<html>
    <head>
     <title>R2</title>
    </head>

    <body>
        <h1>Login</h1>

        <form id="login_form" method="post" action="/r2/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="Login" />
        </form>

    </body>
</html>