{% extends 'base.html'%}

{% block body_block %}

        <h1>Register with R2</h1>

        {% if registered %}
        Hey: <strong>thank you for registering!</strong>
        <a href="/r2/">Return to the homepage.</a><br />
        {% else %}
        Hi: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/r2/register/"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
 {% endblock %}